<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}   {%endblock title%} </title>
    {%block style%} {%endblock style%}
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="logo">FeastFlick</div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/orders">Orders</a>
                <a href="/orders/create">new order</a>
                {%if not user.is_authenticated %}
                <a href="/user/login_choice">Login</a>
                <a href="/user/register_choice">Register</a>
                {%else%}
                    {% if user.rest_id %}
                        <p>Restaurant ID: {{ user.rest_id }}</p>
                        <a href="{% url 'menu_management' %}">Manage Menu</a>
                        <a href="{% url 'orders' %}">View Orders</a>
                    {% else %}
                        <!-- Regular user content -->
                        <a href="">Welcome, {{ user.username }}</a>
                    {% endif %}
                    <a href="/user/logout"><form action="{% url 'users:logout'%}"  method="post">
                        {% csrf_token %}
                        <button style='background-color: #dc3545; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px; font-family: Arial, sans-serif; font-size: 14px; margin: 0 10px; cursor: pointer; transition: background-color 0.3s;'>logout User</button>
                    </form></a> 
                {% endif %}
            </div>
        </nav>
{%block content%}
{%endblock%}
</body>
</html>
